@model Nop.Plugin.Widgets.MySlider.Areas.Admin.Models.MySliderModel

    <script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.WidgetZoneId)").change(toggleBackgroundImagePanel);
        $("#@Html.IdFor(model => model.AutoPlay)").change(toggleAutoPlay);
        $("#@Html.IdFor(model => model.LazyLoad)").click(toggleLazyLoad);
        $("#@Html.IdFor(model => model.Nav)").click(toggleNav);

        toggleBackgroundImagePanel();
        toggleAutoPlay();
        toggleLazyLoad();
        toggleNav();
    });

    function toggleBackgroundImagePanel() {
        if (($('#@Html.IdFor(model => model.WidgetZoneId)').val() != 5)
            && ($('#@Html.IdFor(model => model.WidgetZoneId)').val() != 7)
            && ($('#@Html.IdFor(model => model.WidgetZoneId)').val() != 8)) {
            $('#pnlBackGroundPicture').show();
        } else {
            $('#pnlBackGroundPicture').hide();
        }
    }

    function toggleAutoPlay() {
        if ($('#@Html.IdFor(model => model.AutoPlay)').is(':checked')) {
            $('#pnlAutoPlay').show();
        } else {
            $('#pnlAutoPlay').hide();
        }
    }

    function toggleLazyLoad() {
        if ($('#@Html.IdFor(model => model.LazyLoad)').is(':checked')) {
            $('#pnlLazyLoad').show();
        } else {
            $('#pnlLazyLoad').hide();
        }
    }

    function toggleNav() {
        if ($('#@Html.IdFor(model => model.Nav)').is(':checked')) {
            $('#pnlNav').show();
        } else {
            $('#pnlNav').hide();
        }
    }
    </script>

<div class="panel-body">
    @*@(await Html.LocalizedEditorAsync<SliderModel, SliderLocalizedModel>("slider-info-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.Locales[item].Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].Name" />
                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                                    ,@<div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <nop-label asp-for="Name" />
                                            </div>
                                            <div class="col-md-9">
                                                <nop-editor asp-for="Name" asp-required="true" />
                                                <span asp-validation-for="Name"></span>
                                            </div>
                                        </div>
                                    </div>))*@

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="WidgetZoneId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="WidgetZoneId" asp-items="@Model.AvailableWidgetZones" />
            <span asp-validation-for="WidgetZoneId"></span>
        </div>
    </div>
    @*<div class="form-group" id="pnlBackGroundPicture">
        <div class="col-md-3">
            <nop-label asp-for="BackGroundPictureId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BackGroundPictureId" />
            <span asp-validation-for="BackGroundPictureId"></span>
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SelectedStoreIds" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                    <script>
                        $(document).ready(function() {
                            var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                            storesIdsInput.setOptions({
                                autoClose: false,
                                filter: "contains"
                            });

                            @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                </text>
                            }
                        });
                    </script>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("MultistoreDisabledWarning")
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="DisplayOrder" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayOrder" asp-required="true" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Active" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Active" />
            <span asp-validation-for="Active"></span>
        </div>
    </div>
    @if (Model.Id > 0)
    {
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="CreatedOn" />
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.CreatedOn</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="UpdatedOn" />
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.UpdatedOn</div>
            </div>
        </div>
    }
</div>